<div class="">
	<div class="grid gap-y-12 md:gap-y-0 md:gap-x-24 md:grid-cols-2 md:grid-rows-6">
		<div class="md:col-span-1 md:row-span-2">
			<h2 class="text-5xl font-serif font-light mt-0">
				<span class="block">Let's get</span>
				<span class="block">started.</span>
			</h2>
		</div>
		<div class="md:col-span-1 md:row-span-6">
			<form>
				<div class="grid gap-9 mb-9">
					<div class="">
						<label for="first-name" class="sr-only">First Name</label>
						<input type="text" name="first-name" id="first-name" placeholder="First Name" class="w-full py-2 border-b bg-inherit placeholder-current" />
					</div>
					<div class="">
						<label for="last-name" class="sr-only">Last Name</label>
						<input type="text" name="last-name" id="last-name" placeholder="Last Name" class="w-full py-2 border-b bg-inherit placeholder-current" />
					</div>
					<div class="">
						<label for="email" class="sr-only">Email</label>
						<input type="email" name="email" id="email" placeholder="Email" class="w-full py-2 border-b bg-inherit placeholder-current" />
					</div>
					<div class="">
						<label for="message" class="sr-only">Message</label>
						<textarea name="message" id="message" placeholder="What are you looking to create?" class="w-full h-32 p-2 border bg-inherit placeholder-current"></textarea>
					</div>
					<div class="">@@include('../_partials/button.html', { "text": "Submit", "type": "submit" })</div>
				</div>
			</form>
		</div>
		<div class="md:col-span-1 md:row-span-4">
			<div class="grid gap-9">
				<div class="border-t border-gray-300">
					<div class="pt-3">
						<ul>
							<li>
								<a class="uppercase" href="#">connect@tarango.com</a>
							</li>
							<li>
								<a class="uppercase" href="#">LinkedIn</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="border-t border-gray-300">
					<div class="pt-3">
						<div class="text-xs">&copy; 2023 All Rights Reserved</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
