<section class="fixed -z-10 inset-0 avoid-scroll-flicker pointer-events-none">
	<div data-scroll-layer="slideshow-tiles" class="invisible absolute inset-0">
		<div class="absolute inset-0">
			<div class="flex flex-col w-full h-full">
				<div class="flex-1">
					<div class="animate-slide-left min-h-full bg-left-top bg-repeat bg-cover" style="background-image: url(/assets/tiles.jpg)"></div>
				</div>
				<div class="flex-1">
					<div class="animate-slide-right min-h-full bg-left-top bg-repeat bg-cover" style="background-image: url(/assets/tiles.jpg)"></div>
				</div>
				<div class="flex-1">
					<div class="animate-slide-left-alt min-h-full bg-left-top bg-repeat bg-cover" style="background-image: url(/assets/tiles.jpg)"></div>
				</div>
			</div>
		</div>
	</div>
	<div data-scroll-layer="vertical-logos" class="invisible absolute inset-0">
		<div class="absolute inset-0">
			<div class="container-fullbleed h-full">
				<div class="md:grid grid-cols-12 h-full">
					<div class="col-span-5 col-start-8 flex w-full h-full">
						<div class="flex-1">
							<div class="animate-slide-up-alt md:animate-slide-up min-h-full bg-left-top bg-repeat-y bg-cover" style="background-image: url(/assets/logos-stack.png)"></div>
						</div>
						<div class="hidden lg:block flex-1">
							<div class="animate-slide-down min-h-full bg-left-top bg-repeat-y bg-cover" style="background-image: url(/assets/logos-stack.png)"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-scroll-layer="logo-footer" class="invisible absolute inset-0">
		<div class="absolute bottom-0 left-0 w-full">@@include('../_partials/logo-footer.html')</div>
	</div>
	<div data-scroll-layer="blank-layer" class="invisible absolute inset-0"></div>
</section>
