<section class="fixed -z-10 top-0 left-0 right-0 h-[4000px] lg:h-screen avoid-scroll-flicker pointer-events-none">
	<div data-scroll-layer="slideshow-tiles"
		class="invisible absolute inset-0">
		<div class="absolute top-0 h-[300px] lg:h-[33.333vh] left-0 w-full">
			<div class="animate-slide-left lg:animate-vh-slide-left h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
		<div class="absolute top-[300px] h-[300px] lg:top-[33.333vh] lg:h-[33.333vh] left-0 w-full">
			<div class="animate-slide-right lg:animate-vh-slide-right h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
		<div class="absolute top-[600px] h-[300px] lg:top-[66.666vh] lg:h-[33.333vh] left-0 w-full">
			<div class="animate-slide-left-alt lg:animate-vh-slide-left-alt min-h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
		<div class="lg:hidden absolute top-[900px] h-[300px] left-0 w-full">
			<div class="animate-slide-left h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
		<div class="lg:hidden absolute top-[1200px] h-[300px] left-0 w-full">
			<div class="animate-slide-right h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
		<div class="lg:hidden absolute top-[1500px] h-[300px] left-0 w-full">
			<div class="animate-slide-left-alt min-h-full bg-left-top bg-repeat bg-cover"
				style="background-image: url(/assets/tiles.jpg)"></div>
		</div>
	</div>
	<div data-scroll-layer="vertical-logos"
		class="invisible absolute inset-0">
		<div class="absolute inset-0">
			<div class="container-fullbleed h-full">
				<div class="md:grid grid-cols-12 h-full">
					<div class="col-span-5 col-start-8 flex w-full h-full">
						<div class="flex-1">
							<div class="animate-slide-up w-[200px] h-full mx-auto bg-left-top bg-repeat-y bg-[length:100%_auto]"
								style="background-image: url(/assets/logos-stack.png)"></div>
						</div>
						<div class="hidden lg:block flex-1">
							<div class="animate-slide-down w-[200px] h-full mx-auto bg-left-top bg-repeat-y bg-[length:100%_auto]"
								style="background-image: url(/assets/logos-stack.png)"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-scroll-layer="logo-footer"
		class="invisible absolute inset-0">
		<div class="absolute bottom-0 left-0 w-full">@@include('../_partials/logo-footer.html')</div>
	</div>
	<div data-scroll-layer="blank-layer"
		class="invisible absolute inset-0"></div>
</section>