<div data-slideshow
	class="flex flex-col gap-y-9 h-full">
	<ul class="flex items-center gap-x-2">
		<li data-slide-num="0"
			class="w-[13px] h-[13px] rounded-full bg-gray-150">
			<span class="sr-only">Slide 1 selected</span>
		</li>
		<li data-slide-num="1"
			class="w-[13px] h-[13px] rounded-full border border-gray-150">
			<span class="sr-only">Slide 2 selected</span>
		</li>
		<li data-slide-num="2"
			class="w-[13px] h-[13px] rounded-full border border-gray-150">
			<span class="sr-only">Slide 3 selected</span>
		</li>
		<li data-slide-num="3"
			class="w-[13px] h-[13px] rounded-full border border-gray-150">
			<span class="sr-only">Slide 4 selected</span>
		</li>
		<li data-slide-num="4"
			class="w-[13px] h-[13px] rounded-full border border-gray-150">
			<span class="sr-only">Slide 5 selected</span>
		</li>
		<li data-slide-num="5"
			class="w-[13px] h-[13px] rounded-full border border-gray-150">
			<span class="sr-only">Slide 6 selected</span>
		</li>
	</ul>
	<div class="slides min-h-slides relative">
		<ul>
			<li data-slide
				class="">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<p>Linda and her team have been true partners and elevated our storytelling. The power of their graphic and
							design work speaks for itself &mdash; simple, compelling, and beautiful. What makes for a true partnership
							is the ability to carefully listen, reflect and then return having made the complex simple and the raw
							perfect. Linda honed her craft with the best having collaborated on the most significant Apple keynotes
							for year after year and her clients are able to take advantage of that invaluable experience.</p>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Bob Borchers</strong>
						CMO Dolby
					</p>
				</div>
			</li>
			<li data-slide
				class="animate-fade-out">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<p>Hire her now.</p>
						<p>Linda's expertise in executive storytelling is undeniable. She has proven to be a valued partner time and
							again as she partnered with my executive leadership teams at Apple, Dolby and ChargePoint. Always
							demonstrating that less is more in powerful storytelling, she and her team were amazing to work with as we
							refreshed our company narrative in compelling messaging and visuals. A true professional in driving the
							hard conversations to ultimately get to great outcomes.</p>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Jennifer Bowcock</strong>
						Former communications executive AT&T, Apple, Dolby & ChargePoint
					</p>
				</div>
			</li>
			<li data-slide
				class="animate-fade-out">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<div>
							<p>Their work really helped elevate and present us as a first-class brand.</p>
						</div>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Chris Carlson</strong>
						VP Product Management, Qualys
					</p>
				</div>
			</li>
			<li data-slide
				class="animate-fade-out">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<p>An exceptional ally to have at your side while developing high stake presentations or building a branded
							presentation identity. Linda has an uncanny ability to listen to complex business ideas, hone in on the
							proper questions, and refine them and distill them into impressive graphics that neatly summarize
							sophisticated concepts. Executive team resources are valuable and partnering with Linda and team proved
							time and again to be an efficient way to get to some of our best presentations.</p>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Andrew Lindsay</strong>
						VP Corporate Development, Jawbone
					</p>
				</div>
			</li>
			<li data-slide
				class="animate-fade-out">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<p>We worked with Linda over a few months where she created and produced a primary deck that we used for
							intro-type meetings and funder pitches. It was an uniquely interesting process as it caused us to really
							drill down on, among other things, exactly what the essence of the company is, what distinguishes it from
							other similar organizations and how to approach this market.</p>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Gary Syman</strong>
						Retired Goldman Sachs Partner, Philanthropist &amp; Entrepreneur
					</p>
				</div>
			</li>
			<li data-slide
				class="animate-fade-out">
				<div class="absolute prose prose-sm md:prose-base prose-on-dark font-extralight">
					<div class="min-h-slide">
						<p>As a Strategic Messaging Consultant across industries from Healthcare to High Tech, I've experienced the
							power of visual storytelling. And when I think of some of the best visual storytelling work, Linda Tarango
							stands out. Linda has worked seamlessly with me on multiple corporate projects creating elegant and
							visually memorable presentations our clients are giddy to present.</p>
					</div>
					<div class="my-4 border-b-2 border-gray-300"></div>
					<p class="text-sm">
						<strong class="block uppercase font-black">Richard Butterfield</strong>
						Communications Consultant, Butterfield Speaks
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>