@@include('../_partials/meta/head.html', { "title": "Tarango: Home" }) @@include('../_partials/header.html')

<main>
	@@include('../_partials/scroll-layers.html')

	<!-- punch out -->
	<div data-scroll-layer-trigger="slideshow-tiles"
		class="min-h-screen punch-out shadow-top shadow-bottom"></div>
	<!-- end punch out -->

	<section id="approach"
		class="bg-gray-100 text-gray-400">
		<div class="container py-12">
			<article class="prose prose-sm md:prose-base prose-on-light max-w-none">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-5">
						<h2 data-aos="fade-in"
							data-aos-duration="1000"
							class="text-5xl lg:text-8xl font-serif font-light mt-4 mb-16 md:pt-16 md:mt-0 sticky top-0">Behind every
							great design is a great story.</h2>
					</div>
					<div class="col-span-6 col-start-7">
						<div class="mb-16 md:pt-16">
							<p class="mt-0"><strong class="text-[12px] md:text-[15px] font-bold tracking-wider">TARANGO</strong> is a 
								creative consultancy that specializes exclusively in executive story decks.</p>
							<p>We work closely with our clients to find the story that is not only impactful, but genuinely authentic.  
								Our work is often described as simple, clean and beautiful, but it is always the principles of 
								compelling and persuasive that guide us.</p>
							<p>We are professionals in storytelling and transformation.  And we hold quality design and collaboration 
								as our key ethos.</p>
							<p>At Tarango, we understand that business leaders have the need to communicate powerful ideas but are 
								often without time, resources or capabilities to transform them into a visual story.  
								We partner with you to provide the strategic framework and high-end quality design not often 
								found in the presentation realm.  The result is a powerful story deck that promotes persuasive 
								narrative and heightened audience connection.</p>
						</div>
					</div>
				</div>
				<div class="border-b border-gray-170"></div>
				<div class="">
					<h2 class="text-2xl lg:text-5xl font-serif font-light mt-4">Building the components<span
							class="md:block"></span> of a powerful presentation</h2>
				</div>
				<div class="not-prose md:grid grid-cols-12 gap-x-12">
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="0"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-3xl md:text-[50px] md:leading-[44px] font-thin block mb-5">01</span>
								<span class="border-t-2 border-gray-300 block pt-2.5">Discover</span>
							</h3>
							<div class="mt-9">
								<ul class="text-sm">
									<li class="pt-2 pb-1 border-t border-gray-170">Background and vision</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Brand assessment</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Executive and stakeholder intake</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Question, discuss, challenge</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="300"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-3xl md:text-[50px] md:leading-[44px] font-thin block mb-5">02</span>
								<span class="border-t-2 border-gray-300 block pt-2.5">Explore</span>
							</h3>
							<div class="mt-9">
								<ul class="text-sm">
									<li class="pt-2 pb-1 border-t border-gray-170">Concept definition</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Design exploration</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Illustration and data visualization</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="600"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-3xl md:text-[50px] md:leading-[44px] font-thin block mb-5">03</span>
								<span class="border-t-2 border-gray-300 block pt-2.5">Build</span>
							</h3>
							<div class="mt-9">
								<ul class="text-sm">
									<li class="pt-2 pb-1 border-t border-gray-170">Production</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Rehearse</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Polish</li>
									<li class="pt-2 pb-1 border-t border-gray-170">Present</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section id="about"
		class="bg-gray-100 text-gray-400">
		<div class="container py-12">
			<article class="prose prose-sm md:prose-base prose-on-light">
				<div class="border-b border-gray-170"></div>
				<div class="md:grid grid-cols-12 gap-x-12 md:mt-16">
					<div class="col-span-6">
						<figure class="my-8 md:my-0 md:pt-8 sticky top-0">
							<img src="/assets/linda_tarango.png"
								alt="" />
						</figure>
					</div>
					<div class="col-span-6 my-8">
						<div class="md:aspect-[315/304] flex flex-col justify-between">
							<h2 class="text-2xl lg:text-5xl font-serif font-light mt-0 md:mt-0 xl:max-w-[420px]">Linda is founding
								partner and leads all client collaborations at Tarango.</h2>
							<div class="pt-3">
								<div class="">
									<p class="md:my-0">For nearly 10 years, Linda Tarango served as project manager for Steve Jobs'
										legendary keynote presentations that introduced iPod, iTunes, MacBook Air, iPhone, and iPad to the
										world. Prior to her work at Apple, Linda managed advertising projects for ABC Television, Disney,
										AT&T and Cisco. She works with a trusted and deeply talented group of creative partners that bring
										decades of experience.</p>
								</div>
							</div>
						</div>
						<div class="not-prose">
							<div class="border-b-2 border-gray-300 mt-24"></div>
							<h3 class="text-sm font-black uppercase mt-3 mb-0">Capabilities</h3>
							<div class="mt-9">
								<div class="md:flex items-start">
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Branding</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Design</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Story Structure</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Illustration</li>
										<li class="pt-2 pb-1">Data Visualization</li>
									</ul>
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Creative Resourcing</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Visual Identities</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Production</li>
										<li class="pt-2 pb-1 md:border-b md:border-gray-170">Project Management</li>
									</ul>
								</div>
							</div>
						</div>
						<!--div class="not-prose">
							<div class="border-b-2 border-gray-300 mt-24"></div>
							<h3 class="text-sm font-black uppercase mt-3 mb-0">Industry Experience</h3>
							<div class="mt-9">
								<div class="md:flex items-start">
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Consumer Technology</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Entertainment</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Health Care</li>
										<li class="pt-2 pb-1">Insurance</li>
									</ul>
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Finance and Investment</li>
										<li class="pt-2 pb-1 border-b border-gray-170">High Tech</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Communication</li>
										<li class="pt-2 pb-1">Internet Security</li>
									</ul>
								</div>
							</div>
						</div-->
					</div>
				</div>
			</article>
		</div>
	</section>

	<section data-scroll-layer-trigger="vertical-logos"
		class="relative">
		<div class="absolute inset-0 shadow-top md:shadow-bottom pointer-events-none"></div>
		<div class="container-fullbleed">
			<div class="md:grid grid-cols-12 gap-x-12">
				<!-- punch out -->
				<div class="punch-out min-h-[60vh] md:min-h-0 md:col-span-6 md:order-2"></div>
				<!-- end punch out -->
				<div class="md:col-span-6 bg-gray-390 relative md:static">
					<div class="md:hidden absolute inset-0 shadow-above shadow-below pointer-events-none"></div>
					<div class="container md:w-full relative py-16 md:py-24 h-full">
						@@include('../_partials/slideshow.html')
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="ourwork"
		class="min-h-screen bg-gray-500 text-gray-100">
		<div class="container py-12">
			<article class="text-cream-500 font-extralight mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<a class="block"
							href="case-studies/dolby">
							<figure class="my-8 overflow-hidden">
								<img class="hover:scale-105 transition-transform"
									src="/assets/case_studies/dolby/cs_dolby_002.jpg"
									alt="Dolby example slide" />
							</figure>
						</a>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="aspect-[16/9] flex flex-col justify-between">
								<div class="">
									<div class="border-b-2 border-gray-300"></div>
									<div class="mt-3 mb-7">
										<p class="text-sm font-black uppercase">DOLBY</p>
										<p class="text-sm mt-0">EVP for Dolby Voice Product</p>
									</div>
									<div class="mt-3 mb-7">
										<div class="text-sm font-black uppercase">Deliverable</div>
										<p class="text-sm mt-0">Story deck for keynote address at international trade show</p>
									</div>
								</div>
								<div class="pt-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
									"case-studies/dolby" })</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="text-cream-500 font-extralight mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<a class="block"
							href="case-studies/impossible-foods">
							<figure class="my-8 overflow-hidden">
								<img class="hover:scale-105 transition-transform"
									src="/assets/case_studies/impossible/cs_impossible_005.jpg"
									alt="Impossible example slide" />
							</figure>
						</a>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="aspect-[16/9] flex flex-col justify-between">
								<div class="">
									<div class="border-b-2 border-gray-300"></div>
									<div class="mt-3 mb-7">
										<p class="text-sm font-black uppercase">IMPOSSIBLE FOODS</p>
										<p class="text-sm mt-0">CCO</p>
									</div>
									<div class="mt-3 mb-7">
										<div class="text-sm font-black uppercase">Deliverable</div>
										<p class="text-sm mt-0">Branded visualization and story flow of strategic communication points for
											CEO</p>
									</div>
								</div>
								<div class="pt-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
									"case-studies/impossible-foods" })</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="text-cream-500 font-extralight mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<a class="block"
							href="case-studies/jawbone-early-development">
							<figure class="my-8 overflow-hidden">
								<img class="hover:scale-105 transition-transform"
									src="/assets/case_studies/jawbone_a/cs_jawbone_015.jpg"
									alt="Jawbone Early Development example slide" />
							</figure>
						</a>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="aspect-[16/9] flex flex-col justify-between">
								<div class="">
									<div class="border-b-2 border-gray-300"></div>
									<div class="mt-3 mb-7">
										<p class="text-sm font-black uppercase">JAWBONE &mdash; Early Development</p>
										<p class="text-sm mt-0">CEO</p>
									</div>
									<div class="mt-3 mb-7">
										<div class="text-sm font-black uppercase">Deliverable</div>
										<p class="text-sm mt-0">Visual storytelling of wearables market</p>
									</div>
								</div>
								<div class="pt-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
									"case-studies/jawbone-early-development" })</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="text-cream-500 font-extralight mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<a class="block"
							href="case-studies/jawbone-later-development">
							<figure class="my-8 overflow-hidden">
								<img class="hover:scale-105 transition-transform"
									src="/assets/case_studies/jawbone_b/cs_jawbone_010.jpg"
									alt="Jawbone later development example slide" />
							</figure>
						</a>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="aspect-[16/9] flex flex-col justify-between">
								<div class="">
									<div class="border-b-2 border-gray-300"></div>
									<div class="mt-3 mb-7">
										<p class="text-sm font-black uppercase">JAWBONE &mdash; Later Development</p>
										<p class="text-sm mt-0">CMO &amp; Chief of Staff</p>
									</div>
									<div class="mt-3 mb-7">
										<div class="text-sm font-black uppercase">Deliverable</div>
										<p class="text-sm mt-0">Branded product launch slides for channel use</p>
									</div>
								</div>
								<div class="pt-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
									"case-studies/jawbone-later-development" })</div>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="text-cream-500 font-extralight mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<a class="block"
							href="case-studies/chargepoint">
							<figure class="my-8 overflow-hidden">
								<img class="hover:scale-105 transition-transform"
									src="/assets/case_studies/chargepoint/cs_chargepoint_023.jpg"
									alt="Chargepoint example slide" />
							</figure>
						</a>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="aspect-[16/9] flex flex-col justify-between">
								<div class="">
									<div class="border-b-2 border-gray-300"></div>
									<div class="pt-3 mb-7">
										<p class="text-sm font-black uppercase">CHARGEPOINT</p>
										<p class="text-sm mt-0">CCO + Executive Team</p>
									</div>
									<div class="mt-3 mb-7">
										<div class="text-sm font-black uppercase">Deliverable</div>
										<p class="text-sm mt-0">Presentation slides for 5 executives at media press briefing</p>
									</div>
								</div>
								<div class="pt-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
									"case-studies/chargepoint" })</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section id="contact"
		data-scroll-layer-trigger="logo-footer"
		class="bg-gray-500 text-gray-100">
		<div class="shadow-top">
			<div class="container py-12 md:pt-24">@@include('../_partials/contact-form.html')</div>
		</div>
	</section>

	<!-- punch out -->
	<div class="">
		<div class="container py-12">
			<div class="aspect-[8/3]"></div>
		</div>
	</div>
	<!-- end punch out -->
</main>

@@include('../_partials/meta/foot.html')