@@include('../_partials/meta/head.html', { "title": "Tarango: Home" })

<header>
	<div class="bg-gray-500 text-gray-100">
		<div class="container py-12 flex flex-col justify-between min-h-screen">
			<div class="relative">
				<nav>
					<ul class="text-sm font-medium tracking-wider uppercase">
						<li>
							<a class="inline-block py-1"
								href="#approach">Approach</a>
						</li>
						<li>
							<a class="inline-block py-1"
								href="#about">About</a>
						</li>
						<li>
							<a class="inline-block py-1"
								href="#experience">Experience</a>
						</li>
						<li class="md:hidden">
							<a class="inline-block py-1"
								href="#contact">Say Hello</a>
						</li>
					</ul>
				</nav>
				<nav class="hidden md:block absolute top-0 right-0">
					<ul class="flex gap-x-4 items-center text-xs font-medium tracking-wider uppercase">
						<li>@@include('../_partials/link-button.html', { "href": "#contact", "text": "Say Hello" })</li>
					</ul>
				</nav>
			</div>
			<div class="lg:grid grid-cols-12">
				<div class="col-span-8">
					<div class="lg:pr-24">@@include('../_partials/logo-hero.html')</div>
				</div>
				<div class="col-span-4">
					<div class="lg:pl-8 lg:border-l lg:min-h-[53%] lg:mt-[14.5%]">
						<h2 class="pt-4 text-xs font-medium tracking-wide uppercase md:pt-0 sm:text-base">
							A creative consultancy for<br />
							elevated executive storytelling
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<main>
	@@include('../_partials/scroll-layers.html')

	<!-- punch out -->
	<div data-scroll-layer-trigger="slideshow-tiles"
		class="min-h-screen punch-out shadow-top shadow-bottom"></div>
	<!-- end punch out -->

	<section id="approach"
		class="bg-gray-100 text-gray-400">
		<div class="container py-12">
			<article class="prose prose-on-light max-w-none">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-5">
						<h2 data-aos="fade-in"
							data-aos-duration="1000"
							class="text-5xl lg:text-7xl font-serif font-light mt-4 mb-16 md:pt-16 md:mt-0 sticky top-0">Behind every
							great design is a great story.</h2>
					</div>
					<div class="col-span-6 col-start-7">
						<div class="tracking-tight mb-16 md:pt-16">
							<p class="mt-0"><strong class="font-black">TARANGO</strong> is a creative consultancy that specializes
								solely on executive story decks.</p>
							<p>We work closely with our clients to find the story that is not only impactful but genuinely authentic.
								And while our work is often described as simple, clean and beautiful, it is always the principles of
								compelling and persuasive that guide us.</p>
							<p>We are professionals in storytelling and transformation and we hold quality design and collaboration as
								our key ethos.</p>
							<p>We understand that business leaders have the need to communicate powerful ideas but are often without
								time, resources or capabilities to transform them into a visual story. We partner with you to provide
								the strategic framework and high-end quality design not often found in the presentation realm. This
								creative collaboration results in a story deck that is a strategic tool to guide you through a
								meaningful narrative with true audience connection.</p>
							<p>While we are a team that brings decades of experience in brand, design and messaging, we
								philosophically start the collaboration with a clean slate and keen listening.</p>
						</div>
					</div>
				</div>
				<div class="border-b border-gray-170"></div>
				<div class="">
					<h2 class="text-3xl lg:text-5xl font-serif font-light mt-4">Building the components<span
							class="md:block"></span> of a powerful presentation</h2>
				</div>
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="0"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-5xl font-thin block mb-6">01</span>
								Discovery
							</h3>
							<div class="not-prose mt-9">
								<ul class="text-sm border-t-2 border-gray-300">
									<li class="pt-2 pb-1 border-b border-gray-170">Background and Vision</li>
									<li class="pt-2 pb-1 border-b border-gray-170">Brand Assessment</li>
									<li class="pt-2 pb-1 border-b border-gray-170">Executive and stakeholder intake</li>
									<li class="pt-2 pb-1">Question, discuss, challenge</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="300"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-5xl font-thin block mb-6">02</span>
								Explore
							</h3>
							<div class="not-prose mt-9">
								<ul class="text-sm border-t-2 border-gray-300">
									<li class="pt-2 pb-1 border-b border-gray-170">Concept definition</li>
									<li class="pt-2 pb-1 border-b border-gray-170">Design exploration</li>
									<li class="pt-2 pb-1">Illustration and data visualization</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-span-4">
						<div data-aos="fade-up"
							data-aos-duration="1000"
							data-aos-delay="600"
							class="py-3">
							<h3 class="text-sm font-black uppercase mb-0">
								<span class="text-5xl font-thin block mb-6">03</span>
								Build
							</h3>
							<div class="not-prose mt-9">
								<ul class="text-sm border-t-2 border-gray-300">
									<li class="pt-2 pb-1 border-b border-gray-170">Production</li>
									<li class="pt-2 pb-1 border-b border-gray-170">Rehearse</li>
									<li class="pt-2 pb-1 border-b border-gray-170">Polish</li>
									<li class="pt-2 pb-1">Present</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section id="about"
		class="bg-gray-100 text-gray-400">
		<div class="container py-12">
			<article class="prose prose-on-light max-w-none">
				<div class="border-b border-gray-170"></div>
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="my-8 md:my-0 md:pt-8 sticky top-0">
							<img src="/assets/linda_tarango.png"
								alt="" />
						</figure>
					</div>
					<div class="col-span-6">
						<h2 class="text-3xl lg:text-5xl font-serif font-light my-8">Linda is founding partner and leads all client
							collaborations at Tarango.</h2>
						<div class="py-3">
							<div class="tracking-tight">
								<p>For nearly 10 years, Linda Tarango served as project manager for Steve Jobs' legendary keynote
									presentations that introduced iPod, iTunes, MacBook Air, iPhone, and iPad to the world. Prior to her
									work at Apple, Linda managed advertising projects for ABC Television, Disney, AT&T and Cisco. She
									works with a trusted and deeply talented group of creative partners that bring decades of experience.
								</p>
							</div>
							<div class="border-b-2 border-gray-300 mt-24"></div>
							<h3 class="text-sm font-black uppercase mt-3 mb-0">Capabilities</h3>
							<div class="not-prose mt-9">
								<div class="md:flex items-start">
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Branding</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Design</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Story Structure</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Illustration</li>
										<li class="pt-2 pb-1">Data Visualization</li>
									</ul>
									<ul class="flex-1 text-sm border-t border-gray-170">
										<li class="pt-2 pb-1 border-b border-gray-170">Creative Resourcing</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Visual identities</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Production</li>
										<li class="pt-2 pb-1 border-b border-gray-170">Project Management</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section data-scroll-layer-trigger="vertical-logos"
		class="relative">
		<div class="absolute inset-0 shadow-top shadow-bottom pointer-events-none"></div>
		<div class="container-fullbleed">
			<div class="md:grid grid-cols-12">
				<!-- punch out -->
				<div class="punch-out min-h-[60vh] md:min-h-0 md:col-span-5 md:order-2"></div>
				<!-- end punch out -->
				<div class="md:col-span-7 bg-gray-200">
					<div class="container py-16 md:py-24 h-full">@@include('../_partials/slideshow.html')</div>
				</div>
			</div>
		</div>
	</section>

	<section id="experience"
		class="min-h-screen bg-gray-500 text-gray-100">
		<div class="container py-12">
			<article class="prose prose-on-dark max-w-none mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="">
							<img src="/assets/case_studies/dolby/cs_dolby_002.jpg"
								alt="Dolby example slide" />
						</figure>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="border-b-2 border-gray-300"></div>
							<h3 class="text-xs font-black uppercase mt-3 mb-1">DOLBY</h3>
							<p class="text-xs">EVP for Dolby Voice Product</p>
							<p class="text-2xl">Story deck for keynote address at international trade show</p>
							<div class="py-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
								"case-studies/dolby" })</div>
						</div>
					</div>
				</div>
			</article>
			<article class="prose prose-on-dark max-w-none mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="">
							<img src="/assets/case_studies/impossible/cs_impossible_005.jpg"
								alt="Impossible example slide" />
						</figure>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="border-b-2 border-gray-300"></div>
							<h3 class="text-xs font-black uppercase mt-3 mb-1">IMPOSSIBLE FOODS</h3>
							<p class="text-xs uppercase">CCO</p>
							<p class="text-2xl">Branded visualization and story flow of strategic communication points for CEO</p>
							<div class="py-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
								"case-studies/impossible-foods" })</div>
						</div>
					</div>
				</div>
			</article>
			<article class="prose prose-on-dark max-w-none mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="">
							<img src="/assets/case_studies/jawbone_a/cs_jawbone_015.jpg"
								alt="Jawbone Early Development example slide" />
						</figure>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="border-b-2 border-gray-300"></div>
							<h3 class="text-xs font-black uppercase mt-3 mb-1">JAWBONE &mdash; Early Development</h3>
							<p class="text-xs uppercase">CEO</p>
							<p class="text-2xl">Visual storytelling of wearables market</p>
							<div class="py-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
								"case-studies/jawbone-early-development" })</div>
						</div>
					</div>
				</div>
			</article>
			<article class="prose prose-on-dark max-w-none mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="">
							<img src="/assets/case_studies/jawbone_b/cs_jawbone_010.jpg"
								alt="Jawbone later development example slide" />
						</figure>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="border-b-2 border-gray-300"></div>
							<h3 class="text-xs font-black uppercase mt-3 mb-1">JAWBONE &mdash; Later Development</h3>
							<p class="text-xs uppercase">CMO &amp; Chief of Staff</p>
							<p class="text-2xl">Branded product launch slides for channel use</p>
							<div class="py-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
								"case-studies/jawbone-later-development" })</div>
						</div>
					</div>
				</div>
			</article>
			<article class="prose prose-on-dark max-w-none mb-16">
				<div class="md:grid grid-cols-12 gap-x-12">
					<div class="col-span-6">
						<figure class="">
							<img src="/assets/case_studies/chargepoint/cs_chargepoint_023.jpg"
								alt="Chargepoint example slide" />
						</figure>
					</div>
					<div class="col-span-6">
						<div class="my-8">
							<div class="border-b-2 border-gray-300"></div>
							<h3 class="text-xs font-black uppercase mt-3 mb-1">CHARGEPOINT</h3>
							<p class="text-xs uppercase">CMO + Executive Team</p>
							<p class="text-2xl">Presentation slides for 5 executives at media press briefing</p>
							<div class="py-3">@@include('../_partials/link-button.html', { "text": "Learn More", "href":
								"case-studies/chargepoint" })</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<section id="contact"
		data-scroll-layer-trigger="logo-footer"
		class="bg-gray-500 text-gray-100">
		<div class="shadow-top">
			<div class="container py-12 md:pt-24">@@include('../_partials/contact-form.html')</div>
		</div>
	</section>

	<!-- punch out -->
	<div class="">
		<div class="container py-12">
			<div class="aspect-[7/2]"></div>
		</div>
	</div>
	<!-- end punch out -->
</main>

@@include('../_partials/meta/foot.html')