.min-h-slides {
  height: 32rem;
}

@screen sm {
  .min-h-slides {
    height: 24rem;
  }
}

@screen md {
  .min-h-slides {
    height: 34rem;
  }
}

@screen lg {
  .min-h-slides {
    height: 30rem;
  }
}

@screen xl {
  .min-h-slides {
    height: 24rem;
  }
}

.min-h-slide {
  height: 28rem;
}

@screen sm {
  .min-h-slide {
    height: 20rem;
  }
}

@screen md {
  .min-h-slide {
    height: 30rem;
  }
}

@screen lg {
  .min-h-slide {
    height: 26rem;
  }
}

@screen xl {
  .min-h-slide {
    height: 20rem;
  }
}